カード登録フォーム</br>
<div id="card-form">
    <label v-html="message"></label>
    <input type=text name=name id="name"></br>
    <input type=text name=power id="power"></br>
    <button v-on:click="create">登録</button>
</div>



