<% script("/js/page/chat_log_cgi/app.js") -%>
<div class="cgi-body">
<div id="chat-main">
  <div id="chat-form-frame-cgi" style="" class="form-group">
    <input type="text" id="chat-log-date" style="width: 80%" value="クリックしてください"
    data-range="true"
    data-multiple-dates-separator=" - "
    data-language="en"
    class="datepicker-here form-control inline" readonly/>
    <button type="button" id="chat-log-search-button" class="btn btn-primary inline">検索</button>
    <button type="button" id="chat-log-channel-button" class="btn btn-primary inline">ch</button>

    <div class='container log-channels'>
        <div id='mode' class="btn-group" data-toggle="buttons">
            <label class="btn btn-primary active">
                <input type="radio" name="log-channel" autocomplete="off" value="1" checked>1ch
            </label>
            <label class="btn btn-primary">
                <input type="radio" name="log-channel" autocomplete="off" value="2">2ch
            </label>
            <label class="btn btn-primary">
                <input type="radio" name="log-channel" autocomplete="off" value="3">3ch
            </label>
            <label class="btn btn-primary">
                <input type="radio" name="log-channel" autocomplete="off" value="4">4ch
            </label>
            <label class="btn btn-primary">
                <input type="radio" name="log-channel" autocomplete="off" value="5">5ch
            </label>
            <label class="btn btn-primary">
                <input type="radio" name="log-channel" autocomplete="off" value="6">6ch
            </label>
            <label class="btn btn-primary">
                <input type="radio" name="log-channel" autocomplete="off" value="7">7ch
            </label>
            <label class="btn btn-primary">
                <input type="radio" name="log-channel" autocomplete="off" value="8">8ch
            </label>
        </div>
    </div>
  </div>
  <div id="chat-log-frame1" class="chat-log-frame"></div>
  <div id="chat-log-frame2" class="chat-log-frame"></div>
  <div id="chat-log-frame3" class="chat-log-frame"></div>
  <div id="chat-log-frame4" class="chat-log-frame"></div>
  <div id="chat-log-frame5" class="chat-log-frame"></div>
  <div id="chat-log-frame6" class="chat-log-frame"></div>
  <div id="chat-log-frame7" class="chat-log-frame"></div>
  <div id="chat-log-frame8" class="chat-log-frame"></div>
</div>
</div>