<div id="chat-main">
  <div id="chat-form-frame-cgi" style="">
    <input type="text" id="chat-textarea" style="width: 80%" class="form-control">
    <button type="button" id="chat-send-button" class="btn btn-primary">投稿</button>
  </div>
  <div id="chat-frame"></div>
</div>