<div id="chat-main">
  <div id="chat-form-frame" style="">
    <textarea id="chat-textarea" style="width: 80%" class="form-control"></textarea>
    <button type="button" id="chat-send-button" class="btn btn-primary">送信</button>
  </div>
  <div id="chat-frame"></div>
</div>

<a href="/">home</a>