
<% users.forEach(function(user) { %>
    <%=hello%> <%=user.name%> !<br/>
<% }) %>

ユーザー登録フォーム</br>
<form method='post' name=form1 action="">
<input type=text name=name>
<input type=submit value='送信'>
</form>
